.drop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  user-select: none;
  transition: background-color 100ms ease;
  background: gainsboro;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1em;

  code {
    font-family: monospace;
    font-size: 90%;
    padding: 2px 4px;
    color: #333;
    border-radius: 3px;
    background-color: #f4f4f4;
  }
}