/.idea/sonarlint
.idea/workspace.xml

__pycache__/
/.project
/.settings/
/.pydevproject
/processing/build

/node_modules
/front/node_modules

/sample**

start-linux.sh
!examples/common/start-linux.sh

start-windows.ps1
!examples/common/start-windows.ps1

config.xlsx
!examples/campaigns/new-campaign/config.xlsx

examples/*.zip

venv
sse-venv-*
!sse-venv-*.bat
!sse-venv-*.sh

processing-artefacts
