/.idea/sonarlint

__pycache__/
/.project
/.settings/
/.pydevproject

/node_modules
/front/node_modules

/sample**

project.env
!examples/common/project.env

start-linux.sh
!examples/common/start-linux.sh

start-windows.ps1
!examples/common/start-windows.ps1

config.xlsx
!examples/common/config.xlsx

examples/*.zip
