[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
# INFO: When changing `name`, also change in `utils/get_version_from_setup.py`
name = "sound-scape-explorer"
version = "13.1.3"
description = "SoundScapeExplorer"
authors = [{ name = "Bamdad Sabbagh", email = "hi@bamdad.fr" }]

dependencies = [
  "wheel",
  "numpy==1.23.5",
  "pandas==1.5.3",
  "h5py==3.8.0",
  "torch==2.0.0",
  "torchaudio==2.0.1",
  "umap==0.1.1",
  "umap-learn==0.5.3",
  "hdbscan==0.8.33",
  "scikit-learn==1.2.2",
  "pydub==0.25.1",
  "openpyxl==3.1.2",
  "mutagen==1.46.0",
  "rich==13.5.2",
  "inquirerpy==0.3.4",
  "soundfile==0.12.1",
]

[project.scripts]
sse = "processing.cli:start_processing"
sse_extract = "processing.cli:extract_config"
sse_fill = "processing.cli:fill_config"
sse_download = "processing.cli:download"
