.row {
  grid-template-columns: 6em 3em repeat(3, 1fr) repeat(2, 2fr) 1fr;
}

.window {
  gap: 0.5em;
  justify-content: space-between !important;

  & > :first-child {
    min-width: 0;
    width: 100%;
  }

  & > :last-child {
    max-width: 0;
  }
}