@use "src/styles/layout";
@use "sass:math";

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.grow {
  flex: 1;
}

.grow-h {
  height: 100%;
}

.gap {
  gap: layout.$p;
}

.mt {
  margin-top: layout.$p;
}

// noinspection Stylelint
.i {
  font-style: italic;
}

// noinspection Stylelint
.b {
  font-weight: bold;
}

// noinspection Stylelint
.p {
  padding: layout.$p;
}

.pv {
  padding: layout.$p 0;
}

.ph {
  padding: 0 layout.$p;
}

.center {
  align-items: center;
  justify-content: center;
}

.align {
  align-items: center;
}

.justify {
  justify-content: center;
}

.w0 {
  width: math.div(layout.$button-size, 4);
}

.w1 {
  width: math.div(layout.$button-size, 2);
}

.w2 {
  width: layout.$button-size;
}

.w3 {
  width: layout.$button-size * 2;
}

.help {
  height: 100%;
  cursor: help;

  &:hover {
    background: gainsboro;
  }
}

.checkbox {
  span {
    margin-inline-start: -13px !important;
  }
}

.hover {
  &:hover {
    cursor: pointer;
  }
}

.no-user-select {
  user-select: none;
}

code {
  font-family: monospace;
  font-size: 90%;
  padding: 2px 4px;
  color: #333;
  border-radius: 3px;
  background-color: #f4f4f4;
}

.scrollable {
  overflow: auto;
}