$red         : rgba(255, 0, 0, 0.2);
$redDeep     : rgba(255, 0, 0, 0.8);
$olive       : rgba(23, 159, 87, 0.4);
$oliveLight  : rgba(23, 159, 87, 0.2);
$green       : rgba(0, 255, 0, 0.2);
$greenDark   : rgba(0, 255, 0, 0.4);
$violet      : rgba(0, 0, 255, 0.2);
$black       : rgba(0, 0, 0, 0.7);
$emerald     : rgba(23, 159, 87, 1);
$grey        : rgba(0, 0, 0, 0.1);
$greyLight   : rgba(0, 0, 0, 0.05);
$greyDeep    : rgba(0, 0, 0, 0.2);
$white       : rgba(255, 255, 255, 0.3);
$whiteOpaque : rgba(255, 255, 255, 0.9);
