$red: rgb(255 0 0 / 20%);
$red-deep: rgb(255 0 0 / 80%);
$olive: rgb(23 159 87 / 40%);
$olive-light: rgb(23 159 87 / 20%);
$green: rgb(0 255 0 / 20%);
$green-dark: rgb(0 255 0 / 40%);
$violet: rgb(0 0 255 / 20%);
$black: rgb(0 0 0 / 70%);
$emerald: rgb(23 159 87 / 100%);
$grey: rgb(0 0 0 / 10%);
$grey-light: rgb(0 0 0 / 5%);
$grey-deep: rgb(0 0 0 / 20%);
$white: rgb(255 255 255 / 70%);
$white-opaque: rgb(255 255 255 / 90%);
