@use "./sizes";

@mixin background-blur-0 {
  backdrop-filter: blur(5px);
}

@mixin background-blur-1 {
  backdrop-filter: blur(sizes.$p0);
}

@mixin rotate-90 {
  transform: rotate3d(0, 0, 1, 90deg);
}