$appMenuLayer: 30;
$appConsoleLayer: 30;
$appModalLayer: 80;
$appDraggableIndexDefaultLayer: 40;
$appDraggableIndexButtonsLayer: 40;
$appDraggableIndexSelectedLayer: 41;

$screenLayer: 20; // preview 3d selection

$calendarInterestLayer: 0;
$calendarSliderLayer: 1;
