$app-menu-layer: 30;
$app-console-layer: 30;
$app-modal-layer: 80;
$app-draggable-index-default-layer: 40;
$app-draggable-index-buttons-layer: 40;
$app-draggable-index-selected-layer: 41;
$screen-layer: 20;
$calendar-interest-layer: 0;
$calendar-slider-layer: 1;
