$appMenuLayer: 80;
$appConsoleLayer: 70;
$appModalLayer: 90;
$appDraggableIndexDefaultLayer: 10;
$appDraggableIndexButtonsLayer: 10;
$appDraggableIndexSelectedLayer: 11;

$screenLayer: 20; // preview 3d selection

$calendarInterestLayer: 0;
$calendarSliderLayer: 1;
