@use "./sizes";

@mixin hide-scrollbar {
  // IE and edge
  -ms-overflow-style: none;

  // firefox
  scrollbar-width: none;

  // chrome
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin tiny-scrollbar {
  &::-webkit-scrollbar {
    width: sizes.$g0;
    height: sizes.$g0;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: sizes.$p0;
    background-color: #999;

    &:hover {
      background: #777;
    }
  }
}

@mixin plot-wrapper {
  overflow: auto;
  max-height: sizes.$s2;

  @include tiny-scrollbar;
}