services:
  front:
    image: ghcr.io/sound-scape-explorer/front:next
    ports:
      - "8080:8080"

  audio:
    image: ghcr.io/sound-scape-explorer/audio:latest
    volumes:
      - ${AUDIO_FOLDER}:/mount/audio
    ports:
      - "3000:3000"

  processing:
    image: ghcr.io/sound-scape-explorer/processing:next
    volumes:
      - ${PROJECT_FOLDER}:/mount/project
      - ${STORAGE_FOLDER}:/mount/storage
    command:
      - -c/mount/project/${PROJECT_FILE}
      - -s/mount/storage/${STORAGE_FILE}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
