name: release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@master

      - name: Set up node
        uses: actions/setup-node@master
        with:
          node-version: '18'

      - name: Install project dependencies
        run: yarn

      - name: Install release dependencies
        run: |
          npm install -g \
            semantic-release \
            @semantic-release/github \
            @semantic-release/git \
            @semantic-release/exec \
            @semantic-release/changelog \
            @semantic-release/npm \
            semantic-release-chrome \
            semantic-release-firefox-add-on \
            @qiwi/semantic-release-gh-pages-plugin \
            aggregate-error

      - name: Build `front` package
        run: cd front && yarn && yarn build && cd ..

      - name: Release
        run: semantic-release -b main
        env:
          GH_TOKEN: ${{ secrets.PAT }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          FIREFOX_API_KEY: ${{ secrets.FIREFOX_API_KEY }}
          FIREFOX_SECRET_KEY: ${{ secrets.FIREFOX_SECRET_KEY }}
